@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {}

.menu {
    background-color: #e9eaeb;
    display: flex;
    text-align: center;
    font-family: "Dosis", sans-serif;
    margin: 0px;
    h1 {
        font-weight: 600;
        margin: 5px;
    }
    .menu-links {
        margin: 11px;
        margin-left: 62%;
        
    }
}

header {
    background-color: #4f89ab;
    display: flex;
    text-align: center;
    padding: 10px;
    .foto {
        margin: 10px;
    }
}

header {
    color: #e9eaeb;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    h2 {
        font-weight: 500;
        font-size: 200%;
        margin: 10px;
    }
    p {
        font-size: 110%;
        letter-spacing:1.3px;
        line-height: 125%;
        font-size: 120%;
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 0%;
    }
}

main {
    background-color: #e9eaeb;
    font-family: "Doris", sans-serif;

    h2,
    ul {
        max-width: 650px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th {
        background-color: #4f89ab;
    }
}

#services {
    background-color: #4f89ab;
    color: #e9eaeb;
}

footer {
    background-color: #e9eaeb;
}