@media screen and (max-width: 1110px){
    #site-top{
        flex-direction: column;
        gap: 2rem;
    }
    
    .conteudo-sobre{
        flex-direction: column;
        gap: 2.5rem;
    }

    .texto-sobre p{
        text-align: left;
    }

    #for-exp{
        grid-template-columns: 1fr
    }
}

@media screen and (max-width: 900px){
    .pag-contato .menu{
        display: none;
    }

    .pag-contato .menu-mobile{
        display: grid;
        gap: .25rem;
    }

    header .menu{
        justify-content: center;
        align-items: center;
        height: 10vh;
    }

    .menu h1{
        text-align: center;
    }

    .menu nav{
        display: none;
    }

    .containers{
            flex-direction: column;
        }
}

@media screen and (max-width: 600px){
    #redes i{
        font-size: 1.5rem;
    }

    #redes button{
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 450px){
    #site-top img{
        width: 80vw;
    }

    #about img{
        width: 80vw;
    }

    .entre-container{
        max-width: 90vw;
    }

    #services h2, .titulo-experiencia{
        font-size: 10vw;
    }
}