@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif; 
}

html{
    scroll-behavior: smooth;
    font-size: 17px;
}

body{
    background-color: #4f89ab;;
    height: 100vh;
}

/* HEADER DO PORTFOLIO */
header{
    max-width: 1280px;
    margin: 0 35px;
}

header h1{
    font-weight: 400;
    font-size: 1.7rem;
}

header .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #e9eaeb;
    height: 17vh;
}

header a{
    color: #d3dde2 ;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color:#ffffff;
    transform: scale(1.07);
    text-decoration: underline;
    text-underline-offset: .7rem;
    transition: .15s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin: 0 20px;
}

/* ESTILO TOPO SITE */
#site-top{
    padding: 40px 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img{
    border-radius: 50%;
}

.foto img:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 20px #ffffffcb;
    transition: .2s;
}

.ola{
    text-align: center;
    margin-left: 60px;
}

.ola h3{
    margin-bottom: 10px;
    font-weight: 300;
    color: #d3dde2; 
    font-size: 1.45rem;
}

.ola h2{
    margin:10px 0;
    font-weight: 300;
    color: #d3dde2;
    font-size: 1.47rem;
}

.ola h1{
    font-weight: 600;
    font-size: 2.35rem;
    color: #ffffff;
}

.ola .social-media i{
    padding: 0 5px;
    color:#ffffff;
    font-size: 35px;
}

.ola .social-media i:hover{
    color: #d3dde2;
    transition: .2s;
}

/* ESTILO SOBRE MIM*/
#about{
    background-color: #e9eaeb;
    padding: 60px 10%;
    margin: 0 auto;
}

.titulo-sobre{
    margin-bottom: 40px;
    text-align: center;
    color: #387396;
}
.titulo-sobre h2{
    font-weight: 600;
    font-size: 2.3rem;
}

.titulo-sobre h3{
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.conteudo-sobre{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.texto-sobre p{
    line-height: 35px;
    text-align: right;
    font-size: 1.05rem;
}

.conteudo-sobre img{
    border-radius: 5%;
    filter: grayscale(100) contrast(130%);
    box-shadow: 0px 0px 10px rgb(160, 160, 160);
}

/* ESTILO FORMACAO-EXPERIENCIAS*/

#for-exp{
    background-color: #e9eaeb;
    padding: 30px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo-timeline h2{
    font-weight: 500;
    font-size: 2.3rem;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #387396;
}

.content{ 
    align-items: center;
    padding: 0 30px;
    border-left: solid 2px rgb(168, 168, 168);
}

.content .box{
    max-width: 300px;
    position: relative;
    padding: 20px;
    border: solid 1px #4f89ab;
    cursor: pointer;
    transition: all .4s;
    margin-bottom: 20px;
}

.content .box:hover{
    border: solid 1px transparent;
    box-shadow: 0 0 8px #4f89ab;
    backdrop-filter: blur(2px);
}

.content .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #387396;
    border: solid 2px #ffffff;
}

.content .box h5{
    color: #4f89ab;
    margin-bottom: 10px;
}

.content .box h4{
    font-weight: 500;
    margin-bottom: 6px;
}

.content .box p{
    font-weight: 400
}

/* SERVICOS */
#services{
    position: relative;
    color: #e9eaeb;
    padding: 40px 4%;
    cursor: default;
}

#services h2{
    font-weight: 600;
    text-align: center;
    font-size: 2.3rem;
}

.titulo-experiencia{
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 1.47rem;
    text-align: center;
}

.containers{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 20px;
}

.entre-container{
    padding: 1.5rem;
    flex: 1;
    background: transparent;
    border-radius: 2rem;
    border: white 0.15rem solid;
    border-color: white;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.container-detalhe{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.unidade-detalhe{
    display: flex;
    width: 10rem;
    gap: 0.5rem;
}

.unidade-detalhe img, .unidade-detalhe i{
    cursor: default;
}

.unidade-detalhe img{
    width: 50px;
    max-height: 100px;
    height: auto;  
}

.unidade-detalhe i{
    font-size: 1.1rem;
    text-align: center;
    justify-content: center;
}

.unidade-detalhe{
    h3{
        font-weight: 500;
    }
    p{
        font-weight: 400;
        font-size: 0.76rem;
        color: #d3dde2
    }
}

/* RODAPÉ */
footer{
    padding: 40px 4%;
    padding-bottom: 30px;
    background-color: #e9eaeb;
    text-align: center;
}

footer h3{
    font-weight: 400;
    font-size: .95rem;
    color: #387396;
}

footer h2{
    font-weight: 600;
    font-size: 2.3rem;
    color: #387396;
}

#redes{
    margin: 40px 15px 30px;
    justify-content: space-around;
    display: flex;
}

#redes i{
    font-size: 2.05rem;
    color: #e9eaeb;
}

#redes button{
    width: 75px;
    height: 75px;
    border-style: none;
    border-radius: 50%;
    background-color: #4f89ab;
    cursor: pointer;
}

#redes button:hover{
    box-shadow: 0px 0px 8px #4f89ab;
    transform: scale(1.07);
    transition: .2s;
}

footer a{
    color: #000000 ;
    text-decoration: none;
    display: inline-block;
}

#contato button{
    color: #e9eaeb;
    width: 230px;
    height: 50px;
    background-color: #4f89ab;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    font-size: 1.01rem;
}

#contato button:hover{
    box-shadow: 0px 0px 15px #4f89ab;
    transform: scale(1.07);
    transition: .2s;
}

/* FORMULARIO MENSAGEM */
#formulario{
    background-color: #e9eaeb;
    padding: 50px 4%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.falecomigo{
    max-width: 1280px;
    padding: 20px 0;
    border-bottom: #d3dde2 0.2rem solid;
    border-color: #d3dde2;
}

#formulario h2{
    font-weight: 600;
    font-size: 2.3rem;
    color: #387396;
}

form{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form input, textarea{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 10px 15px;
    border-radius: 20px;
    color: #4f89ab;
    font-size: 1.05rem;
}

form input::placeholder, textarea::placeholder{
    color: #4f89ab
}

form textarea{
    resize: none;
}

form .enviar{
    margin-top: 15px;
}

form .enviar input{
    width: 100px;
    color:#387396;
    background-color: #d3dde2;
    cursor: pointer;
}

form .enviar input:hover{
    color: #e9eaeb;
    background-color: #4f89ab;
    transition: .2s;
}
#e9eaeb;
#4f89ab;
    
